@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    --tw-bg-opacity: 1;
    background-color: rgba(15, 16, 22, var(--tw-bg-opacity));
    height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #21252a;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b545f;
}